<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.flab.tradingmarket.domain.product.mapper.ProductMapper">

    <resultMap type="Product" id="productAndCategoryAndAllImages">
        <id column="product_no" property="productNo"/>
        <result column="product_name" property="productName"/>
        <result column="product_as_expiration_date" property="productAsExpirationDate"/>
        <result column="product_status" property="productStatus"/>
        <result column="product_exchange_status" property="productExchangeStatus"/>
        <result column="product_purchase_date" property="purchaseDate"/>
        <result column="product_sales_status" property="productSalesStatus"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_content" property="productContent"/>
        <result column="product_stock" property="productStock"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="create_date" property="createDate"/>
        <association property="productThumbnail" javaType="ProductImage">
            <id column="product_thumbnail_no" property="imageNo"/>
        </association>
        <association property="category" javaType="Category">
            <id column="product_category_no" property="categoryNo"/>
        </association>
        <association property="seller" javaType="User">
            <id column="seller_no" property="userNo"/>
        </association>
        <collection property="imageList" ofType="ProductImage">
            <id property="imageNo" column="image_no"/>
            <result property="fileLink" column="file_link"/>
            <result property="originalFileName" column="original_file_name"/>
        </collection>
    </resultMap>


    <insert id="insertProduct"  parameterType="Product" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO products (product_name,
                              product_category_no,
                              product_as_expiration_date,
                              product_status,product_exchange_status,
                              product_purchase_date,
                              product_sales_status,
                              product_price,
                              product_content,
                              product_stock,
                              product_view_count,
                              create_date,
                              modify_date,
                              seller_no)
        VALUES (#{productName}, #{category.categoryNo}, #{productAsExpirationDate}, #{productStatus},
                #{productExchangeStatus}, #{purchaseDate}, #{productSalesStatus}, #{productPrice}, #{productContent},
                #{productStock}, #{productViewCount}, NOW(), NOW(), #{seller.userNo});

    </insert>

    <insert id="insertProductImages" parameterType="java.util.List" useGeneratedKeys="true"  keyProperty="imageNo">
        INSERT INTO product_images (product_no, original_file_name, file_link, file_size, create_date, modify_date)
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
            #{item.productNo}
            , #{item.originalFileName}
            , #{item.fileLink}
            , #{item.fileSize}
            , NOW()
            , NOW()
            )
        </foreach>
    </insert>

    <update id="updateProductThumbnail" parameterType="Product">
        UPDATE products
        SET product_thumbnail_no =#{productThumbnail.imageNo}
        WHERE product_no = #{productNo}
    </update>
    <update id="updateProduct" >
        UPDATE products
        SET product_name =#{productName},
            product_as_expiration_date = #{productAsExpirationDate},
            product_status = #{productStatus},
            product_exchange_status = #{productExchangeStatus},
            product_purchase_date = #{purchaseDate},
            product_sales_status = #{productSalesStatus},
            product_price = #{productPrice},
            product_content =#{productContent},
            product_stock =#{productStock},
            product_category_no=#{category.categoryNo},
            modify_date=NOW()
            WHERE product_no = #{productNo}

    </update>
    <delete id="deleteProductImages" parameterType="java.util.List">
        DELETE FROM product_images where image_no IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>


    <select id="existsByProductNoAndSellerNo" resultType="int">
        SELECT count(*)
        FROM products p
        WHERE p.product_no = #{productNo} and p.seller_no = #{sellerNo}
    </select>


    <select id="findByThumbnailAndImages" resultMap="productAndCategoryAndAllImages">
        SELECT *
        FROM products p
                 LEFT JOIN product_images pi ON p.product_no = pi.product_no
        WHERE p.product_no = #{productNo}
    </select>

    <select id="findProductImageByProductNo" resultType="ProductImage">
        SELECT *
        FROM product_images
        WHERE product_no = #{productNo}
    </select>

    <delete id="deleteProductImageByProductNo">
        DELETE FROM product_images where product_no =#{productNo}
    </delete>

    <delete id="deleteProductByProductNo">
        DELETE FROM products where product_no =#{productNo}
    </delete>
</mapper>
